:root {
    --color1: #19283f;
    --color2: #33d1cc;
    --color3: #f0f4f7;
}

body {
    font-family: "Rubik", "Roboto", sans-serif;
}

/* Start Navbar */

.navbar {
    background-color: var(--color1);
    height: 5rem;
}

.navbar .navbar-nav .nav-link {
    color: var(--color3);
    font-weight: 500;
    font-size: 1.4rem;
}

.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:focus,
.navbar .navbar-nav .nav-link:hover {
    color: var(--color2);
}

.cart {
    border-left: 1px solid var(--color2);
    position: relative;
}

.cart svg {
    color: var(--color2);
    font-size: 2rem;
}

#cartCount {
    background-color: var(--color3);
    color: var(--color1);
    font-weight: bold;
    font-size: 1.2rem;
    position: absolute;
    top: -15px;
    right: -15px;
    border-radius: 50%;
    text-align: center;
    height: 1.5rem;
    width: 1.5rem;
}

.navbar .navbar-toggler {
    color: var(--color3);
    font-size: 25px;
    border-color: var(--color3);
}

.navbar .navbar-toggler:focus {
    box-shadow: none;
}

/* End Navbar */

/* Start Landing */

.landing {
    background-color: var(--color1);
    height: calc(100vh - 80px);
    position: relative;
}

#landing-text {
    position: absolute;
    width: 30%;
    height: 100%;
    text-align: center;
    color: var(--color3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Rubik", monospace;
}

@media screen and (min-width: 1201px) {
    #landing-text h1 {
        font-size: 3rem;
    }

    #landing-text h2 {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 1200px) {
    #landing-text h1 {
        font-size: 2rem;
    }

    #landing-text h2 {
        font-size: 1.2rem;
    }
}


#slider {
    width: 70%;
    position: absolute;
    right: 0px;
    height: 100%;
}

.arrowleft,
.arrowright {
    color: white;
    background-color: var(--color1);
    font-size: 2rem;
    border: none;
    background-color: transparent;
}

.arrowleft {
    position: absolute;
    top: calc((100vh - 80px) / 2);
    left: 0;
}

.arrowright {
    position: absolute;
    top: calc((100vh - 80px) / 2);
    right: 0.5em;
}

#landing-img {
    width: 80%;
    height: 80%;
    object-fit: contain;
    position: absolute;
    top: 10vh;
    left: 7em;

}

/* End Landing */

/* Start Product Categories */

#product-categories {
    background-color: var(--color3);
    padding-top: 5vh;
    padding-bottom: 5vh;
}

#product-categories .nav-link {
    font-weight: bold;
    font-size: 1.4rem;
    color: var(--color1);
}

#product-categories .nav-link.active {
    background-color: var(--color1);
    color: var(--color3);
}

.prod-info {
    border: 1px solid black;
    height: 40vh;
    width: 300px;
}

.row {
    width: 100%;
}

.product-img {
    width: auto;
    height: 260px;
    object-fit: contain;
}

#card-title {
    margin-bottom: 20px;
}

#card-description {
    min-height: 150px;
}

/* End Product Categories */



/* Start Footer */

.footer {
    background-color: var(--color1);
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}


.arrow-up {
    background-color: transparent;
    color: white;
    border: none;
    font-size: 3rem;
    /* text-align: center; */
}

/* End Footer */




/* Start Contact Information */

#contactUs {
    background-color: var(--color3);
}

#contactInfo {
    height: calc(100vh - 250px);
}

.textArea {
    width: 70%;
}

.textArea input {
    width: 100%;
    height: 2.5rem;
    border-radius: 5px;
    /* border-color: #eff2f4; */
    border-color: transparent;
}

label {
    font-weight: bold;
}

.gender {
    /* padding: 0 10px; */
    margin-right: 5px;
    margin-left: 20px;
}

select {
    width: 5rem;
    height: 2.5rem;
    border-radius: 5px;
    border-color: transparent;
    font-weight: bold;
    margin-left: 2rem;
}

.textArea textarea {
    width: 100%;
    height: 10rem;
    border-radius: 5px;
    border-color: transparent;
}

#submit {
    width: 15rem;
    height: 3rem;
    font-size: 1.5rem;
    border-radius: 5px;
    background-color: var(--color1);
    color: var(--color3);
}

label p {
    color: red;
}

/* End Contact Information */


/* Start About Us */

#about {
    background-color: var(--color3);
}

#about-head {
    margin: 3vh 0;
    text-align: start;
}

.container {
    max-width: 1700px;
}

#about-content img {
    width: 100%;
    margin-bottom: 10vh;
}

#fourCs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#fourCs-img {
    margin: 5vh;
    min-width: 600px;
    width: 40%;
}

#fourCs-text {
    width: 40%;
}

.container p {
    margin-top: 3vh;
    font-size: 1.2rem;
}

/* End About Us */

/* Start Cart Items */

#cart {
    background-color: var(--color3);
}

#cart-products-container {
    min-height: calc(100vh - 324px);
}

#no-items {
    text-align: center;
    padding-top: 20vh;
    font-family: "Rubik", monospace;
    font-weight: bold;
    color: var(--color1);
}

#no-items h2 {
    margin: 50px;
}

#no-items a {
    color: var(--color1);
    text-decoration: none;
    margin-top: 50px;
    padding: 5px;
    font-weight: bolder;
    border: 3px dashed var(--color1);
}

.cart-product-container {
    width: 70%;
    height: 250px;
    margin: 50px auto;
}

.cart-product-container .row,
.cart-product-container .col-md-4,
.cart-product-container .cart-product-img {
    height: 100%;
    object-fit: cover;
}

.card-body {
    position: relative;
}

.card-title {
    display: inline;
}

.remove-item {
    position: absolute;
    right: 5%;
    border: none;
    color: var(--color1);
    background-color: transparent;
}

.remove-item:hover {
    color: var(--color3);
    background-color: var(--color1);
    border-radius: 5px;
}

#cart-card-description {
    display: block;
    margin-top: 10px;
}

.btn-group {
    position: absolute;
    right: 5%;
}

.btn-group button {
    color: var(--color1);
    border-color: var(--color1);
}

.btn-group button:hover {
    border-color: var(--color1);
    background-color: var(--color1);
}

#quantity {
    margin-bottom: 20px;
}

/* End Cart Items */